<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <style>
        tr:nth-child(odd) {
            background: #f9f9f9;
        }
        tr:nth-child(even) {
            background: #fff;
        }
        th, td {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            font-size: 17px
        }
        /*de kolommen die sorteerbaar zijn*/
        table#poulestand th.sortable{
            cursor: pointer;
        }

        /*De tabel van de popup*/
        table#teams td,table#teams th{
            font-size: 9pt;
            padding: 5px;
        }
        .teamspopup {
            position: absolute;
            display: inline-block;
            text-align:left;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        tr.hidden {
            display:none;
        }
        .teamspopup .teamspopuptext {
            visibility: hidden;
            width: 100%;
            background-color:#fff;
            color: #000;
            text-align: left;
            border-radius: 0px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            top: -25px;
            right:25%;
            -moz-box-shadow:    3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow:         3px 3px 5px 6px #ccc;
        }
        .teamspopup .show{
            position: relative;
            visibility: visible;
            animation-name: popupanimatie;
            animation-duration: 0.2s;
            animation-fill-mode: backwards;
        }
        table.etappetabel td.opgesteld{
            font-weight: bold;
        }

        table.etappetabel td.nietopgesteld{
            font-weight: bold;
            color: grey;
        }
        @keyframes popupanimatie {
            from {width: 0%; right:0%;opacity: 0;} 
            to {width: 100%; right:30%;opacity: 1;}
        }
        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes popupanimatie {
            from {opacity: 0;} 
            to {opacity: 1;}
        }
    </style>
</head>
<body onload="checkresultaat(<%=etappe%>)">
    <% include ../partials/navbarlogout %>
    <div class="col-sm-12 text-left" id="contentblok">
        <div class="col-sm-12 bovenrijtje">
            <%if(etappe>1){%> <!--zorg dat de knoppen voor de vorige en volgende etappe de juiste zijn-->
                <a href="/giro/etappe<%=etappe-1%>" class="etappebutton">◄ &nbsp; &nbsp; Etappe <%=etappe-1%></a>
            <%}else{%>
                <%if(huidig<0){%> <!--stuur door naar teamselectie als dat nog kan-->
                    <a href="/giro/teamselectie" class="etappebutton">◄ &nbsp; &nbsp; Teamselectie</a>
            <%}}%>
        </div>
        <div class="col-sm-8 resultatendoos">
            <table id="resultatentabel">
                <thead>
                    <tr><th>Renner</th><th>Etappe</th><th>Team</th><th><img src="/images/rozetrui.png"></th><th><img src="/images/blauwetrui.png"></th><th><img src="/images/paarsetrui.png"></th><th><img src="/images/wittetrui.png"></th><th>Totaal</th></tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<20; i++) { %>
                        <tr id=resultaatselectie<%=i%>><td id="naamrenner<%=i%>" class="links"><%=teamnamen[i]%></td><td id="etapperenner<%=i%>"></td><td id="teamrenner<%=i%>"></td><td id="akrenner<%=i%>"></td><td id="bergrenner<%=i%>"></td><td id="sprintrenner<%=i%>"></td><td id="jongrenner<%=i%>"></td><td id="totaalrenner<%=i%>"></td></tr>
                    <% } %>
                    <tr id=resultaatselectietotaal><td>Totaal</td><td id="totaaletappe"></td><td id="totaalteam"></td><td id="totaalak"></td><td id="totaalberg"></td><td id="totaalsprint"></td><td id="totaaljong"></td><td id="totaaltotaal"></td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 klassementswrapper" style="z-index:1;">
            <%var dagpaginas=Math.round((uitslagen.dag.length+10)/20);%>
            <%var akpaginas=Math.round((uitslagen.ak.length+10)/20);%>
            <%var sprintpaginas=Math.round((uitslagen.sprint.length+10)/20);%>
            <%var bergpaginas=Math.round((uitslagen.berg.length+10)/20);%>
            <%var jongpaginas=Math.round((uitslagen.jong.length+10)/20);%>
            <div class="btn-group">
                <button id="klassementknop0" class="klassementbutton selected" onclick="showklassement([0,<%=dagpaginas%>,<%=akpaginas%>,<%=sprintpaginas%>,<%=bergpaginas%>,<%=jongpaginas%>])">Dag</button>
                <button id="klassementknop1" class="klassementbutton" onclick="showklassement([1,<%=dagpaginas%>,<%=akpaginas%>,<%=sprintpaginas%>,<%=bergpaginas%>,<%=jongpaginas%>])">AK</button>
                <button id="klassementknop2" class="klassementbutton" onclick="showklassement([2,<%=dagpaginas%>,<%=akpaginas%>,<%=sprintpaginas%>,<%=bergpaginas%>,<%=jongpaginas%>])">Sprint</button>
                <button id="klassementknop3" class="klassementbutton" onclick="showklassement([3,<%=dagpaginas%>,<%=akpaginas%>,<%=sprintpaginas%>,<%=bergpaginas%>,<%=jongpaginas%>])">Berg</button>
                <button id="klassementknop4" class="klassementbutton" onclick="showklassement([4,<%=dagpaginas%>,<%=akpaginas%>,<%=sprintpaginas%>,<%=bergpaginas%>,<%=jongpaginas%>])">Jong</button>
            </div>
            <%for(var j=0;j<dagpaginas;j++){%>
                <%if(j==0){%>
                    <span id="klassspan00" class="klassementspan" style="display:block;">
                <%}else{%>
                    <span id="klassspan0<%=j%>" class="klassementspan" style="display:none;">
                <%}%>
                    <table class="etappetabel">
                        <thead>
                            <tr><th></th><th>Daguitslag</th><th>Tijd</th></tr>    
                        </thead> 
                        <tbody>
                            <%for(var i=0;i<Math.min(20,(uitslagen.dag.length-j*20));i++){%>
                                <tr>
                                    <td><%=20*j+i+1%></td>
                                    <%if(teamrenners.includes(uitslagen.dag[20*j+i]._id)){%>
                                        <td class="opgesteld"><a href="/giro/renner/<%=uitslagen.dag[20*j+i]._id%>"><%=uitslagen.dag[20*j+i].naam%></a></td>
                                    <%}else if(teamrenners.includes(uitslagen.dag[20*j+i]._id)){%>
                                        <td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.dag[20*j+i]._id%>"><%=uitslagen.dag[20*j+i].naam%></a></td>
                                    <%}else{%>
                                        <td><a href="/giro/renner/<%=uitslagen.dag[20*j+i]._id%>"><%=uitslagen.dag[20*j+i].naam%></a></td>
                                    <%}%>
                                    <td><%=uitslagen.dag[20*j+i].tijd%></td>
                                </tr>
                            <%}%>
                            <%for(var i=Math.min(20,(uitslagen.dag.length-j*20));i<20;i++){%>
                                <tr style="height:30px"><td></td><td></td><td></td></tr>
                            <%}%>
                        </tbody>    
                    </table>    
                </span>
            <%}%>
            <%for(var j=0;j<akpaginas;j++){%>
                <span id="klassspan1<%=j%>" class="klassementspan" style="display:none;">
                    <table class="etappetabel">
                        <% if(uitslagen.ak.length){ %>
                            <thead class="topbar">
                                <tr><th></th><th>Klassement</th><th>Tijd</th></tr>    
                            </thead>
                            <tbody>
                                <%for(var i=0;i<Math.min(20,(uitslagen.ak.length-j*20));i++){%>
                                    <tr>
                                        <%if(j+i==0){%>
                                            <td><img src="/images/rozetrui.png"></td>
                                        <%}else{%>
                                            <td><%=20*j+i+1%></td>
                                        <%}%>
                                        <%if(teamrenners.includes(uitslagen.ak[20*j+i]._id)){%>
                                            <td class="opgesteld"><a href="/giro/renner/<%=uitslagen.ak[20*j+i]._id%>"><%=uitslagen.ak[20*j+i].naam%></a></td>
                                        <%}else if(teamrenners.includes(uitslagen.ak[20*j+i]._id)){%>
                                            <td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.ak[20*j+i]._id%>"><%=uitslagen.ak[20*j+i].naam%></a></td>
                                        <%}else{%>
                                            <td><a href="/giro/renner/<%=uitslagen.ak[20*j+i]._id%>"><%=uitslagen.ak[20*j+i].naam%></a></td>
                                        <%}%>
                                        <td>+<%=uitslagen.ak[20*j+i].tijd%></td>
                                    </tr>
                                <%}%>
                                <%for(var i=Math.min(20,(uitslagen.ak.length-j*20));i<20;i++){%>
                                    <tr style="height:30px"><td></td><td></td><td></td></tr>
                                <%}%>
                            </tbody>    
                        <%}%>
                    </table>
                </span>
            <%}%>
            <%for(var j=0;j<sprintpaginas;j++){%>
                <span id="klassspan2<%=j%>" class="klassementspan" style="display:none;">
                    <table class="etappetabel">
                        <%if(uitslagen.sprint.length){%>
                            <thead class="topbar">
                                <tr><th></th><th>Puntentrui</th><th>Punten</th></tr>    
                            </thead>
                            <tbody>
                                <%for(var i=0;i<Math.min(20,(uitslagen.sprint.length-j*20));i++){%>
                                    <tr>
                                        <%if(j+i==0){%>
                                            <td><img src="/images/paarsetrui.png"></td>
                                        <%}else{%>
                                            <td><%=20*j+i+1%></td>
                                        <%}%>
                                        <%if(teamrenners.includes(uitslagen.sprint[20*j+i]._id)){%>
                                            <td class="opgesteld"><a href="/giro/renner/<%=uitslagen.sprint[20*j+i]._id%>"><%=uitslagen.sprint[20*j+i].naam%></a></td>
                                        <%}else if(teamrenners.includes(uitslagen.sprint[20*j+i]._id)){%>
                                            <td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.sprint[20*j+i]._id%>"><%=uitslagen.sprint[20*j+i].naam%></a></td>
                                        <%}else{%>
                                            <td><a href="/giro/renner/<%=uitslagen.sprint[20*j+i]._id%>"><%=uitslagen.sprint[20*j+i].naam%></a></td>
                                        <%}%>
                                        <td><%=uitslagen.sprint[20*j+i].score%></td>
                                    </tr>
                                <%}%>
                                <%for(var i=Math.min(20,(uitslagen.sprint.length-j*20));i<20;i++){%>
                                    <tr style="height:30px"><td></td><td></td><td></td></tr>
                                <%}%>
                            </tbody>    
                        <%}%>
                    </table>
                </span>
            <%}%>
            <%for(var j=0;j<bergpaginas;j++){%>
                <span id="klassspan3<%=j%>" class="klassementspan" style="display:none;">
                    <table class="etappetabel">
                        <%if(uitslagen.berg.length){%>
                            <thead class="topbar">
                                <tr><th></th><th>Bergtrui</th><th>Punten</th></tr>    
                            </thead>
                            <tbody>
                                <%for(var i=0;i<Math.min(20,(uitslagen.berg.length-j*20));i++){%>
                                    <tr>
                                        <%if(j+i==0){%>
                                            <td><img src="/images/blauwetrui.png"></td>
                                        <%}else{%>
                                            <td><%=20*j+i+1%></td>
                                        <%}%>
                                        <%if(teamrenners.includes(uitslagen.berg[20*j+i]._id)){%>
                                            <td class="opgesteld"><a href="/giro/renner/<%=uitslagen.berg[20*j+i]._id%>"><%=uitslagen.berg[20*j+i].naam%></a></td>
                                        <%}else if(teamrenners.includes(uitslagen.berg[20*j+i]._id)){%>
                                            <td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.berg[20*j+i]._id%>"><%=uitslagen.berg[20*j+i].naam%></a></td>
                                        <%}else{%>
                                            <td><a href="/giro/renner/<%=uitslagen.berg[20*j+i]._id%>"><%=uitslagen.berg[20*j+i].naam%></a></td>
                                        <%}%>
                                        <td><%=uitslagen.berg[20*j+i].score%></td>
                                    </tr>
                                <%}%>
                                <%for(var i=Math.min(20,(uitslagen.berg.length-j*20));i<20;i++){%>
                                        <tr style="height:30px"><td></td><td></td><td></td></tr>
                                    <%}%>
                            </tbody>    
                        <%}%>   
                    </table>
                </span>
            <%}%>
            <%for(var j=0;j<jongpaginas;j++){%>
                <span id="klassspan4<%=j%>" class="klassementspan" style="display:none;">
                    <table class="etappetabel">
                        <%if(uitslagen.jong.length){%>
                            <thead class="topbar">
                                <tr><th></th><th>Jongerentrui</th><th>Tijd</th></tr>    
                            </thead>
                            <tbody>
                                <%for(var i=0;i<Math.min(20,(uitslagen.jong.length-j*20));i++){%>
                                    <tr>
                                        <%if(j+i==0){%>
                                            <td><img src="/images/wittetrui.png"></td>
                                        <%}else{%>
                                            <td><%=20*j+i+1%></td>
                                        <%}%>
                                        <%if(teamrenners.includes(uitslagen.jong[20*j+i]._id)){%>
                                            <td class="opgesteld"><a href="/giro/renner/<%=uitslagen.jong[20*j+i]._id%>"><%=uitslagen.jong[20*j+i].naam%></a></td>
                                        <%}else if(teamrenners.includes(uitslagen.jong[20*j+i]._id)){%>
                                            <td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.jong[20*j+i]._id%>"><%=uitslagen.jong[20*j+i].naam%></a></td>
                                        <%}else{%>
                                            <td><a href="/giro/renner/<%=uitslagen.jong[20*j+i]._id%>"><%=uitslagen.jong[20*j+i].naam%></a></td>
                                        <%}%>
                                        <td>+<%=uitslagen.jong[20*j+i].tijd%></td>
                                    </tr>
                                <%}%>
                                <%for(var i=Math.min(20,(uitslagen.jong.length-j*20));i<20;i++){%>
                                    <tr style="height:30px"><td></td><td></td><td></td></tr>
                                <%}%>
                            </tbody>    
                        <%}%>    
                    </table>
                </span>
            <%}%>
            <div class="btn-group">
                <button id="scrollknopL" class="scrollbutton selected" onclick="showscroll([0,0,<%=dagpaginas%>])">◄</button>
                <button id="scrollknop0" class="scrollbutton selected" onclick="showscroll([0,0,<%=dagpaginas%>])">1</button>
                <button id="scrollknop1" class="scrollbutton" onclick="showscroll([0,1,<%=dagpaginas%>])">2</button>
                <button id="scrollknop2" class="scrollbutton" onclick="showscroll([0,2,<%=dagpaginas%>])">3</button>
                <button id="scrollknop3" class="scrollbutton" onclick="showscroll([0,3,<%=dagpaginas%>])">4</button>
                <button id="scrollknop4" class="scrollbutton" onclick="showscroll([0,4,<%=dagpaginas%>])">5</button>
                <button id="scrollknop5" class="scrollbutton" onclick="showscroll([0,5,<%=dagpaginas%>])">6</button>
                <button id="scrollknop6" class="scrollbutton" onclick="showscroll([0,6,<%=dagpaginas%>])">7</button>
                <button id="scrollknop7" class="scrollbutton" onclick="showscroll([0,7,<%=dagpaginas%>])">8</button>
                <button id="scrollknop8" class="scrollbutton" onclick="showscroll([0,8,<%=dagpaginas%>])">9</button>
                <button id="scrollknopR" class="scrollbutton selected" onclick="showscroll([0,1,<%=dagpaginas%>])">►</button>
            </div>      
        </div>
        <div class="col-sm-8 poulestand">
            <table id="poulestand">
                <thead>
                    <tr><th onclick="sortTableInt(0)" class="sortable">Positie</th><th>Naam</th><th onclick="sortTableInt(2)" class="sortable">Totaal</th><th onclick="sortTableInt(3)" class="sortable">Dag</th></tr>
                </thead>
                <%for(var i=0; i<users.length; i++){%>
                    <tr id="scoretab<%=i%>"><td><%=i+1%></td><td><%=users[i].local.username%></td><td><%=users[i].profieldata.totaalscore%></td><td><%=dagscore[i]%></td></tr>
                <%}%>
            </table>
        </div>
    </div>
    <footer class="container-fluid text-center">
        <p></p>
    </footer>
<script>
function showklassement(data){ //[dag:0 AK:1 sprint:2 berg:3 jong:4,dagp,akp,sprintp,bergp,jongp]
    for(var i=0;i<5;i++){
        document.getElementById('klassementknop' + i).classList.remove('selected'); //Knop deselecteren
        for(var j=0;j<data[i+1];j++){
            document.getElementById('klassspan' + i + j).style.display='none'; //Alles verbergen
        }
    }
    for(var j=0;j<9;j++){
        document.getElementById('scrollknop' + j).classList.remove('disabled'); //Enable alle paginaknoppen
        document.getElementById('scrollknop' + j).classList.remove('selected'); //Pagina knop deselecteren
        document.getElementById('scrollknop' + j).setAttribute("onClick",'showscroll(['+data[0]+','+j+','+data[data[0]+1]+'])') //Pagina knop functie aanpassen
        if(j>=data[data[0]+1]){
            document.getElementById('scrollknop' + j).classList.add('disabled'); //Disable als ze te ver gaan
            document.getElementById('scrollknop' + j).setAttribute("onClick",'') //Haal de functie ook weg
        }
    }
    document.getElementById('scrollknopL').setAttribute("onClick",'showscroll(['+data[0]+','+0+','+data[data[0]+1]+'])') //Vorige knop
    document.getElementById('scrollknopR').setAttribute("onClick",'showscroll(['+data[0]+','+1+','+data[data[0]+1]+'])') //Volgende knop
    document.getElementById('klassspan' + data[0] + '0').style.display='block'; //Juiste klassement laten zien
    document.getElementById('klassementknop' + data[0]).classList.add('selected'); //Klassement knop selecteren
    document.getElementById('scrollknop0').classList.add('selected'); //Pagina knop selecteren
}

function showscroll(data){
    for(var i=0;i<data[2];i++){
        document.getElementById('klassspan' + data[0] + i).style.display='none'; //Alles verbergen
        document.getElementById('scrollknop' + i).classList.remove('selected'); //Pagina knop deselecteren
    }
    document.getElementById('scrollknopL').setAttribute("onClick",'showscroll(['+data[0]+','+Math.max(0,data[1]-1)+','+data[2]+'])')
    document.getElementById('scrollknopR').setAttribute("onClick",'showscroll(['+data[0]+','+Math.min(data[2]-1,data[1]+1)+','+data[2]+'])')
    document.getElementById('klassspan' + data[0] + data[1]).style.display='block'; //Alles verbergen
    document.getElementById('scrollknop' + data[1]).classList.add('selected'); //Pagina knop selecteren
}

var teamscalled=0;
function checkresultaat(etappe){ //Laat alle behaalde punten in de resultatentabel zien
    $.ajax({
		type: 'POST',
        data: JSON.stringify({"etappe":etappe,"status":"eindresultaat"}),
		contentType: 'application/json',
        url: '/giro/etapperesultaat',
        cache: false,
        dataType:"json",
        success: function (res) { //{renners : array, kopman : string}
            var totaaltotaal=0;
            for(var i=0;i<res.renners.length;i++){
                if(res.renners[i]._id==res.kopman){ //Kijken of de renner de kopman is
                    $("#naamrenner" + i).html(res.renners[i].naam + "<img src='/images/rozetrui.png'>")
                    $("#etapperenner" + i).html(res.renners[i].punten.dag[etappe-1]*1.5);
                    $("#teamrenner" + i).html(res.renners[i].punten.team.totaal[etappe-1]);
                    $("#akrenner" + i).html(res.renners[i].punten.ak[etappe-1]);
                    $("#bergrenner" + i).html(res.renners[i].punten.berg[etappe-1]);
                    $("#sprintrenner" + i).html(res.renners[i].punten.sprint[etappe-1]);
                    $("#jongrenner" + i).html(res.renners[i].punten.jong[etappe-1]);
                    $("#totaalrenner" + i).html(res.renners[i].punten.totaal[etappe-1]+(res.renners[i].punten.dag[etappe-1]*0.5));
                    totaaltotaal+=res.renners[i].punten.totaal[etappe-1]+(res.renners[i].punten.dag[etappe-1]*0.5); //50% dagbonus voor de kopman
                }else{                   
                    $("#naamrenner" + i).html(res.renners[i].naam)
                    $("#etapperenner" + i).html(res.renners[i].punten.dag[etappe-1]);
                    $("#teamrenner" + i).html(res.renners[i].punten.team.totaal[etappe-1]);
                    $("#akrenner" + i).html(res.renners[i].punten.ak[etappe-1]);
                    $("#bergrenner" + i).html(res.renners[i].punten.berg[etappe-1]);
                    $("#sprintrenner" + i).html(res.renners[i].punten.sprint[etappe-1]);
                    $("#jongrenner" + i).html(res.renners[i].punten.jong[etappe-1]);
                    $("#totaalrenner" + i).html(res.renners[i].punten.totaal[etappe-1]);
                    totaaltotaal+=res.renners[i].punten.totaal[etappe-1];
                }
            }
            $("#totaaltotaal").html("<strong>" + totaaltotaal + "</strong>");
        }			
    });
}

function sortTableInt(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("poulestand");
  switching = true;
  // Set the sorting direction to descending:
  dir = "desc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
        
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "desc") {
        dir = "asc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>
