<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <style>
        tr:nth-child(odd) {
            background: #f9f9f9;
        }
        tr:nth-child(even) {
            background: #fff;
        }
        th, td {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            font-size: 17px
        }
        /*de kolommen die sorteerbaar zijn*/
        table#poulestand th.sortable{
            cursor: pointer;
        }
        table#etappetabel a {
            color: inherit;
            text-decoration: none; /* no underline */
        }

        td.links{
            text-align: left;
        }
        
        /*De tabel van de popup*/
        table#teams td,table#teams th{
            font-size: 9pt;
            padding: 5px;
        }
        .teamspopup {
            position: absolute;
            display: inline-block;
            text-align:left;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .teamspopup .teamspopuptext {
            visibility: hidden;
            width: 100%;
            background-color:#fff;
            color: #000;
            text-align: left;
            border-radius: 0px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            top: -25px;
            right:25%;
            -moz-box-shadow:    3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow:         3px 3px 5px 6px #ccc;
        }
        .teamspopup .show{
            position: relative;
            visibility: visible;
            animation-name: popupanimatie;
            animation-duration: 0.2s;
            animation-fill-mode: backwards;
        }
        table#etappetabel td.opgesteld{
            font-weight: bold;
        }

        table#etappetabel td.nietopgesteld{
            font-weight: bold;
            color: grey;
        }
        @keyframes popupanimatie {
            from {width: 0%; right:0%;opacity: 0;} 
            to {width: 320%; right:112%;opacity: 1;}
        }
        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes popupanimatie {
            from {opacity: 0;} 
            to {opacity: 1;}
        }
    </style>
</head>
<body onload="checkresultaat(<%=etappe%>)">
    <% include ../partials/navbarlogout %>
    <div class="col-sm-12 text-left" id="contentblok">
        <div class="bovenrijtje">
            <div class="col-sm-4 text-left">
                <%if(etappe>1){%> <!--zorg dat de knoppen voor de vorige en volgende etappe de juiste zijn-->
                    <a href="/giro/etappe<%=etappe-1%>" class="etappebutton">◄ &nbsp; &nbsp; Etappe <%=etappe-1%></a>
                <%}else{%>
                    <%if(huidig<0){%> <!--stuur door naar teamselectie als dat nog kan-->
                        <a href="/giro/teamselectie" class="etappebutton">◄ &nbsp; &nbsp; Teamselectie</a>
                <%}}%>
            </div>
            <div class="col-sm-4">
                <div class="teamspopup" onclick="teamspopup(<%=etappe%>)">Klik hier voor de andere teams
                    <span class="teamspopuptext" id="idteamspopup">
                    <table id=teams>
                        <thead>
                            <tr><th id='user0'></th><th id='user1'></th><th id='user2'></th><th id='user3'></th></tr>
                        </thead>
                        <tbody>
                            <%for(var i=0;i<10;i++){%>
                                <tr><td id='renner<%=i%>u0'></td><td id='renner<%=i%>u1'></td><td id='renner<%=i%>u2'></td><td id='renner<%=i%>u3'></td></tr>
                            <%}%>
                        </tbody>
                    </table>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 text-right">
                <%if(etappe<21){%>
                    <a href="/giro/etappe<%=etappe+1%>" class="etappebutton">Etappe <%=etappe+1%> &nbsp; &nbsp; ►</a>
                <%}else{%>
                    <%if(huidig<0){%> <!--stuur door naar resultatenpagina als dat al kan-->
                        <a href="/giro/resultaten" class="etappebutton">Resultaten &nbsp; &nbsp; ►</a>
                <%}}%>
            </div>
        </div>
        <div class="col-sm-7 resultatendoos">
            <table id="resultatentabel">
                <thead>
                    <tr><th>Renner</th><th>Etappe</th><th>Team</th><th><img src="/images/rozetrui.png"></th><th><img src="/images/blauwetrui.png"></th><th><img src="/images/paarsetrui.png"></th><th><img src="/images/wittetrui.png"></th><th>Totaal</th></tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<9; i++) { %>
                        <tr id=resultaatselectie<%=i%>><td id="naamrenner<%=i%>" class="links"><%=opstelling[i]%></td><td id="etapperenner<%=i%>"></td><td id="teamrenner<%=i%>"></td><td id="akrenner<%=i%>"></td><td id="bergrenner<%=i%>"></td><td id="sprintrenner<%=i%>"></td><td id="jongrenner<%=i%>"></td><td id="totaalrenner<%=i%>"></td></tr>
                    <% } %>
                    <tr id=resultaatselectietotaal><td>Totaal</td><td id="totaaletappe"></td><td id="totaalteam"></td><td id="totaalak"></td><td id="totaalberg"></td><td id="totaalsprint"></td><td id="totaaljong"></td><td id="totaaltotaal"></td></tr>
                </tbody>
            </table>
            <table id="poulestand">
                <thead>
                    <tr><th onclick="sortTableInt(0)" class="sortable">Positie</th><th>Naam</th><th onclick="sortTableInt(2)" class="sortable">Totaal</th><th onclick="sortTableInt(3)" class="sortable">Dag</th></tr>
                </thead>
                <%for(var i=0; i<users.length; i++){%>
                    <tr id="scoretab<%=i%>"><td><%=i+1%></td><td><%=users[i].local.username%></td><td><%=users[i].profieldata.totaalscore%></td><td><%=dagscore[i]%></td></tr>
                <%}%>
            </table>
        </div>
        <div class="col-sm-5 klassementswrapper">
            <div class="btn-group">
                <button id="klassementknop0" class="klassementbutton selected" onclick="showklassement(0)">Dag</button>
                <button id="klassementknop1" class="klassementbutton" onclick="showklassement(1)">AK</button>
                <button id="klassementknop2" class="klassementbutton" onclick="showklassement(2)">Sprint</button>
                <button id="klassementknop3" class="klassementbutton" onclick="showklassement(3)">Berg</button>
                <button id="klassementknop4" class="klassementbutton" onclick="showklassement(4)">Jong</button>
            </div>
            <span id="klassspan0" class="klassementspan" style="display:block;">
                <table id="etappetabel">
                    <thead>
                        <tr ><th></th><th>Daguitslag</th><th>Tijd</th></tr>    
                    </thead> 
                    <tbody>
                        <%for(var i=0;i<Math.min(20,uitslagen.dag.length);i++){%>
                            <% if(opstellingIDs.includes(uitslagen.dag[i]._id)){%>
                                <tr><td><%=i+1%></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.dag[i]._id%>"><%=uitslagen.dag[i].naam%></a></td><td><%=uitslagen.dag[i].tijd%></td></tr>
                            <%}else if(teamrenners.includes(uitslagen.dag[i]._id)){%>
                                <tr><td><%=i+1%></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.dag[i]._id%>"><%=uitslagen.dag[i].naam%></a></td><td><%=uitslagen.dag[i].tijd%></td></tr>
                            <%}else{%>
                                <tr><td><%=i+1%></td><td><a href="/giro/renner/<%=uitslagen.dag[i]._id%>"><%=uitslagen.dag[i].naam%></a></td><td><%=uitslagen.dag[i].tijd%></td></tr>
                            <%}%>
                        <%}%>    
                    </tbody>    
                </table>    
            </span>
            <span id="klassspan1" class="klassementspan" style="display:none;">
                <table id="etappetabel">
                    <% if(uitslagen.ak.length){ %>
                        <thead class="topbar">
                            <tr><th></th><th>Klassement</th><th>Tijd</th></tr>    
                        </thead>
                        <tbody>
                            <% if(opstellingIDs.includes(uitslagen.ak[0]._id)){%>
                                <tr><td><img src="/images/rozetrui.png"></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.ak[0]._id%>"><%=uitslagen.ak[0].naam%></a></td><td><%=uitslagen.ak[0].tijd%></td></tr>                                        
                            <%}else if(teamrenners.includes(uitslagen.ak[0]._id)){%>
                                <tr><td><img src="/images/rozetrui.png"></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.ak[0]._id%>"><%=uitslagen.ak[0].naam%></a></td><td><%=uitslagen.ak[0].tijd%></td></tr>                                        
                            <%}else{%>
                                <tr><td><img src="/images/rozetrui.png"></td><td><a href="/giro/renner/<%=uitslagen.ak[0]._id%>"><%=uitslagen.ak[0].naam%></a></td><td><%=uitslagen.ak[0].tijd%></td></tr>                                        
                            <%}%>  
                            <%for(var i=1;i<Math.min(5,uitslagen.ak.length);i++){%>
                                <% if(opstellingIDs.includes(uitslagen.ak[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.ak[i]._id%>"><%=uitslagen.ak[i].naam%></a></td><td>+<%=uitslagen.ak[i].tijd%></td></tr>
                                <%}else if(teamrenners.includes(uitslagen.ak[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.ak[i]._id%>"><%=uitslagen.ak[i].naam%></a></td><td>+<%=uitslagen.ak[i].tijd%></td></tr>
                                <%}else{%>
                                    <tr><td><%=i+1%></td><td><a href="/giro/renner/<%=uitslagen.ak[i]._id%>"><%=uitslagen.ak[i].naam%></a></td><td>+<%=uitslagen.ak[i].tijd%></td></tr>
                                <%}%>   
                            <%}%> 
                        </tbody>    
                    <%}%>
                </table>
            </span>
            <span id="klassspan2" class="klassementspan" style="display:none;">
                <table id="etappetabel">
                    <% if(uitslagen.sprint.length){ %>
                        <thead class="topbar">
                            <tr><th></th><th>Puntentrui</th><th>Punten</th></tr>    
                        </thead>
                        <tbody>
                            <% if(opstellingIDs.includes(uitslagen.sprint[0]._id)){%>
                                <tr><td><img src="/images/paarsetrui.png"></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.sprint[0]._id%>"><%=uitslagen.sprint[0].naam%></a></td><td><%=uitslagen.sprint[0].score%></td></tr>
                            <%}else if(teamrenners.includes(uitslagen.sprint[0]._id)){%>
                                <tr><td><img src="/images/paarsetrui.png"></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.sprint[0]._id%>"><%=uitslagen.sprint[0].naam%></a></td><td><%=uitslagen.sprint[0].score%></td></tr>
                            <%}else{%>
                                <tr><td><img src="/images/paarsetrui.png"></td><td><a href="/giro/renner/<%=uitslagen.sprint[0]._id%>"><%=uitslagen.sprint[0].naam%></a></td><td><%=uitslagen.sprint[0].score%></td></tr>
                            <%}%>  
                            <%for(var i=1;i<Math.min(5,uitslagen.sprint.length);i++){%>
                                <% if(opstellingIDs.includes(uitslagen.sprint[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.sprint[i]._id%>"><%=uitslagen.sprint[i].naam%></a></td><td><%=uitslagen.sprint[i].score%></td></tr>
                                <%}else if(teamrenners.includes(uitslagen.sprint[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.sprint[i]._id%>"><%=uitslagen.sprint[i].naam%></a></td><td><%=uitslagen.sprint[i].score%></td></tr>
                                <%}else{%>
                                    <tr><td><%=i+1%></td><td><a href="/giro/renner/<%=uitslagen.sprint[i]._id%>"><%=uitslagen.sprint[i].naam%></a></td><td><%=uitslagen.sprint[i].score%></td></tr>
                                <%}%>    
                            <%}%>
                        </tbody>    
                    <% } %>
                </table>
            </span>
            <div id="klassspan3" class="klassementspan" style="display:none;">        
                <table id="etappetabel">
                    <% if(uitslagen.berg.length){ %>
                        <thead class="topbar">
                            <tr><th></th><th>Bergtrui</th><th>Punten</th></tr>    
                        </thead>
                        <tbody>
                            <% if(opstellingIDs.includes(uitslagen.berg[0]._id)){%>
                                <tr><td><img src="/images/blauwetrui.png"></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.berg[0]._id%>"><%=uitslagen.berg[0].naam%></a></td><td><%=uitslagen.berg[0].score%></td></tr>
                            <%}else if(teamrenners.includes(uitslagen.berg[0]._id)){%>
                                <tr><td><img src="/images/blauwetrui.png"></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.berg[0]._id%>"><%=uitslagen.berg[0].naam%></a></td><td><%=uitslagen.berg[0].score%></td></tr>
                            <%}else{%>
                                <tr><td><img src="/images/blauwetrui.png"></td><td><a href="/giro/renner/<%=uitslagen.berg[0]._id%>"><%=uitslagen.berg[0].naam%></a></td><td><%=uitslagen.berg[0].score%></td></tr>
                            <%}%>  
                            <%for(var i=1;i<Math.min(3,uitslagen.berg.length);i++){%>
                                <% if(opstellingIDs.includes(uitslagen.berg[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.berg[i]._id%>"><%=uitslagen.berg[i].naam%></a></td><td><%=uitslagen.berg[i].score%></td></tr>
                                <%}else if(teamrenners.includes(uitslagen.berg[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.berg[i]._id%>"><%=uitslagen.berg[i].naam%></a></td><td><%=uitslagen.berg[i].score%></td></tr>
                                <%}else{%>
                                    <tr><td><%=i+1%></td><td><a href="/giro/renner/<%=uitslagen.berg[i]._id%>"><%=uitslagen.berg[i].naam%></a></td><td><%=uitslagen.berg[i].score%></td></tr>
                                <%}%>    
                            <%}%>
                        </tbody>    
                    <%}%>   
                </table>
            </div>
            <span id="klassspan4" class="klassementspan" style="display:none;"> 
                <table id="etappetabel" {visibility:hidden;}>
                    <% if(uitslagen.jong.length){ %>
                        <thead class="topbar">
                            <tr><th></th><th>Jongerentrui</th><th>Tijd</th></tr>    
                        </thead>
                        <tbody>
                            <% if(opstellingIDs.includes(uitslagen.jong[0]._id)){%>
                                <tr><td><img src="/images/wittetrui.png"></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.jong[0]._id%>"><%=uitslagen.jong[0].naam%></a></td><td><%=uitslagen.jong[0].tijd%></td></tr>
                            <%}else if(teamrenners.includes(uitslagen.jong[0]._id)){%>
                                <tr><td><img src="/images/wittetrui.png"></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.jong[0]._id%>"><%=uitslagen.jong[0].naam%></a></td><td><%=uitslagen.jong[0].tijd%></td></tr>
                            <%}else{%>
                                <tr><td><img src="/images/wittetrui.png"></td><td><a href="/giro/renner/<%=uitslagen.jong[0]._id%>"><%=uitslagen.jong[0].naam%></a></td><td><%=uitslagen.jong[0].tijd%></td></tr>
                            <%}%>
                            <%for(var i=1;i<Math.min(5,uitslagen.jong.length);i++){%>
                                <% if(opstellingIDs.includes(uitslagen.jong[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="opgesteld"><a href="/giro/renner/<%=uitslagen.jong[i]._id%>"><%=uitslagen.jong[i].naam%></a></td><td>+<%=uitslagen.jong[i].tijd%></td></tr>
                                <%}else if(teamrenners.includes(uitslagen.jong[i]._id)){%>
                                    <tr><td><%=i+1%></td><td class="nietopgesteld"><a href="/giro/renner/<%=uitslagen.jong[i]._id%>"><%=uitslagen.jong[i].naam%></a></td><td>+<%=uitslagen.jong[i].tijd%></td></tr>
                                <%}else{%>
                                    <tr><td><%=i+1%></td><td><a href="/giro/renner/<%=uitslagen.jong[i]._id%>"><%=uitslagen.jong[i].naam%></a></td><td>+<%=uitslagen.jong[i].tijd%></td></tr>
                                <%}%>
                            <%}%>
                        </tbody>    
                    <%}%>    
                </table>
            </span>      
        </div>
    </div>
<footer class="container-fluid text-center">
    <p></p>
</footer>
<script>
function showklassement(klass){ //dag:0 AK:1 sprint:2 berg:3 jong:4
    for(var i=0;i<5;i++){
        document.getElementById('klassspan' + i).style.display='none'; //Alles verbergen
        document.getElementById('klassementknop' + i).classList.remove('selected'); //Knop deselecteren
    }
    document.getElementById('klassspan' + klass).style.display='block'; //Juiste klassement laten zien
    document.getElementById('klassementknop' + klass).classList.add('selected'); //Knop selecteren
}

var teamscalled=0;
function checkresultaat(etappe){
    $.ajax({
		type: 'POST',
        data: JSON.stringify({"etappe":etappe,"toevoegen":"etapperesultaat"}),
		contentType: 'application/json',
        url: '/giro/etappe*',
        cache: false,
        dataType:"json",
        success: function (res) { //{renners : array, kopman : string}
            var totaaltotaal=0;
            for(var i=0;i<res.renners.length;i++){
                if(res.renners[i]._id==res.kopman){ //Kijken of de renner de kopman is
                    $("#naamrenner" + i).html(res.renners[i].naam + "<img src='/images/rozetrui.png'>")
                    $("#etapperenner" + i).html(res.renners[i].punten.dag[etappe-1]*1.5);
                    $("#teamrenner" + i).html(res.renners[i].punten.team.totaal[etappe-1]);
                    $("#akrenner" + i).html(res.renners[i].punten.ak[etappe-1]);
                    $("#bergrenner" + i).html(res.renners[i].punten.berg[etappe-1]);
                    $("#sprintrenner" + i).html(res.renners[i].punten.sprint[etappe-1]);
                    $("#jongrenner" + i).html(res.renners[i].punten.jong[etappe-1]);
                    $("#totaalrenner" + i).html(res.renners[i].punten.totaal[etappe-1]+(res.renners[i].punten.dag[etappe-1]*0.5));
                    totaaltotaal+=res.renners[i].punten.totaal[etappe-1]+(res.renners[i].punten.dag[etappe-1]*0.5); //50% dagbonus voor de kopman
                }else{                   
                    $("#naamrenner" + i).html(res.renners[i].naam)
                    $("#etapperenner" + i).html(res.renners[i].punten.dag[etappe-1]);
                    $("#teamrenner" + i).html(res.renners[i].punten.team.totaal[etappe-1]);
                    $("#akrenner" + i).html(res.renners[i].punten.ak[etappe-1]);
                    $("#bergrenner" + i).html(res.renners[i].punten.berg[etappe-1]);
                    $("#sprintrenner" + i).html(res.renners[i].punten.sprint[etappe-1]);
                    $("#jongrenner" + i).html(res.renners[i].punten.jong[etappe-1]);
                    $("#totaalrenner" + i).html(res.renners[i].punten.totaal[etappe-1]);
                    totaaltotaal+=res.renners[i].punten.totaal[etappe-1];
                }
            }
            $("#totaaltotaal").html("<strong>" + totaaltotaal + "</strong>");
        }			
    });
}
function teamspopup(etappe) {
    var teamspopup = document.getElementById("idteamspopup");
    teamspopup.classList.toggle("show");
    if(teamscalled==0){
    $.ajax({
		type: 'POST',
        data: JSON.stringify({"etappe":etappe,"toevoegen":"teamspopup"}),
		contentType: 'application/json',
        url: '/giro/etappe*',
        cache: false,
        dataType:"json",
        success: function (users) {
            for(var i=0;i<users.length;i++){
                $("#user" + i).html(users[i].local.username);
                for(var j=0;j<10;j++){
                $("#renner" + j + "u" + i).html(users[i].opstellingen[etappe-1].opstelling.naam[j]);
                }
            }
            teamscalled=1;
        }			
    });
    }    
}
function sortTableInt(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("poulestand");
  switching = true;
  // Set the sorting direction to descending:
  dir = "desc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
        
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "desc") {
        dir = "asc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>
