<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Opstelling etappe <%=etappe%></title>
    <% include ../partials/head %>
    <style>
        .etappekiesdoos{
            padding:0;
            border: 2px solid grey;
        }

        .radioknoppen input{
            margin:0;padding:0;
            -webkit-appearance:none;
            -moz-appearance:none;
        }
        .kopman{background-image:url(/images/rozetrui.png);}

        .radioknoppen input:active +.kopmanknoppen{
            opacity: .9;
        }
        .radioknoppen input:checked +.kopmanknoppen{
            -webkit-filter: none;
            -moz-filter: none;
            filter: none;
        }
        .kopmanknoppen{
            cursor:pointer;
            background-size:contain;
            background-repeat:no-repeat;
            display:inline-block;
            width:30px;height:24px;
            margin-bottom:0;
            -webkit-transition: all 100ms ease-in;
            -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
            -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
            -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
        }
        .kopmanknoppen:hover{
            -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
            -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
        }
        table.etappetabel a.opgesteld{
            font-weight: bold;
        }
        table.etappetabel a.nietopgesteld{
            font-weight: bold;
            color: grey;
        }
        span.deadline{
            font-size: 3;
            font-weight: bold;
        }
        tr {
        border-bottom: solid 1px black;
        }   
        @media screen and (max-width: 576px) {
            span.deadline{
                font-size: 12px;
            }
        }
        table#userteamtabel tr:nth-child(10) td{
            border-bottom: 5px solid black;  
        }

    </style>
</head>
<body onload="updateuserteam(<%=etappe%>)">
    <% include ../partials/navbarlogout %>
        <div class="col-sm-12 text-left" id="contentblok">
            <div class="bovenrijtje">
                <%if(etappe>1){%> <!--zorg dat de knoppen voor de vorige en volgende etappe de juiste zijn-->
                    <a href="/giro/etappe/<%=etappe-1%>" class="etappebutton">◄ &nbsp; &nbsp; Etappe <%=etappe-1%></a>
                <%}else if(huidig<1){%> <!--stuur door naar teamselectie als dat nog kan-->
                    <a href="/giro/teamselectie" class="etappebutton">◄ &nbsp; &nbsp; Teamselectie</a>
                <%}%>
                <span class="deadline"> &nbsp; &nbsp; Deadline: <%=deadline%></span>
                <%if(etappe<21){%>
                    <a href="/giro/etappe/<%=etappe+1%>" style="float:right" class="etappebutton">Etappe <%=etappe+1%> &nbsp; &nbsp; ►</a>
                <%}else if(huidig>21){%> <!--stuur door naar resultatenpagina als dat al kan-->
                    <a href="/giro/resultaten" style="float:right" class="etappebutton">Resultaten &nbsp; &nbsp; ►</a>
                <%}%>
            </div>
            <div class="col-sm-7 userteamdoos">
                <table id="userteamtabel">
                    <tbody>
                        <form>
                        <% for(var i=0; i<20; i++) { %>
                            <%if(uitgevallen.find(a => a._id === user.teamselectie.userrenners[i]._id)!=undefined){%>
                                <tr id="<%=user.teamselectie.userrenners[i]._id%>" class="uitgevallen"> 
                                    <!--Uitgevallen renner-->
                                    <td></td>
                                    <td width="200">
                                        <%=user.teamselectie.userrenners[i].naam%>
                                    </td>
                                    <td>
                                        <%=user.teamselectie.userrenners[i].team%>
                                    </td>
                                    <td>
                                        <a class="rennerselectiebutton unavailable" id="<%=user.teamselectie.userrenners[i]._id%>button">Uitgevallen</a>
                                    </td>
                            <%}else{%>
                                <tr id="<%=user.teamselectie.userrenners[i]._id%>">
                                    <td>
                                        <div class="radioknoppen">
                                            <div class="radioknop">
                                                <input id="kopman<%=user.teamselectie.userrenners[i]._id%>" type="radio" name="kopmannen" onchange="kieskopman('<%=user.teamselectie.userrenners[i]._id%>',<%=etappe%>)" disabled=true>
                                                <label class="kopmanknoppen kopman" for="kopman<%=user.teamselectie.userrenners[i]._id%>"></label>
                                            </div>
                                        </div>  
                                    </td>
                                <td width="200">
                                    <%=user.teamselectie.userrenners[i].naam%>
                                </td>
                                <td>
                                    <%=user.teamselectie.userrenners[i].team%>
                                </td>
                                <td>
                                    <a class="rennerselectiebutton" id="<%=user.teamselectie.userrenners[i]._id%>button" onclick="kiesrenner('<%=user.teamselectie.userrenners[i]._id%>','<%=user.teamselectie.userrenners[i].naam%>',<%=etappe%>)">Selecteer</a>
                                </td>
                            <%}%>
                            </tr>
                        <%}%>
                    </form>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-5">
                <div class="etappekiesdoos">
                    <img style="width:100%;" src="/images/profiel<%=etappe%>.jpg">
                </div>
                <div class="col-sm-6" style="padding:0;border:1px solid grey">
                    <table class="etappetabel mini">
                        <thead class="topbar">
                            <tr><th></th><th>Klassement</th><th>Tijd</th></tr>    
                        </thead>
                        <tbody>
                            <%for(var i=0;i<Math.min(5,uitslagen.ak.length);i++){%>
                                <tr>
                                    <%if(i==0){%>
                                        <td><img src="/images/rozetrui.png"></td>
                                    <%}else{%>
                                        <td><%=i+1%></td>
                                    <%}%>
                                        <td id="<%=uitslagen.ak[i]._id%>">
                                            <a href="/giro/renner/<%=uitslagen.ak[i]._id%>"><%=uitslagen.ak[i].naam%></a>
                                        </td>
                                    <td><%=uitslagen.ak[i].tijd%></td>
                                </tr>
                            <%}%> 
                        </tbody>    
                    </table>
                    <table class="etappetabel mini">
                        <thead class="topbar">
                            <tr><th></th><th>Bergtrui</th><th>Punten</th></tr>    
                        </thead>
                        <tbody>
                                <%for(var i=0;i<Math.min(5,uitslagen.berg.length);i++){%>
                                    <tr>
                                        <%if(i==0){%>
                                            <td><img src="/images/blauwetrui.png"></td>
                                        <%}else{%>
                                            <td><%=i+1%></td>
                                        <%}%>
                                            <td>
                                                <a href="/giro/renner/<%=uitslagen.berg[i]._id%>"><%=uitslagen.berg[i].naam%></a>
                                            </td>
                                        <td><%=uitslagen.berg[i].score%></td>
                                    </tr>
                                <%}%> 
                        </tbody>    
                    </table>
                </div>  
                <div class="col-sm-6" style="padding:0;border:1px solid grey;border-left:0;">
                    <table class="etappetabel mini">
                        <thead class="topbar">
                            <tr><th></th><th>Puntentrui</th><th>Punten</th></tr>    
                        </thead>
                        <tbody>
                                <%for(var i=0;i<Math.min(5,uitslagen.sprint.length);i++){%>
                                        <tr>
                                            <%if(i==0){%>
                                                <td><img src="/images/paarsetrui.png"></td>
                                            <%}else{%>
                                                <td><%=i+1%></td>
                                            <%}%>
                                                <td>
                                                    <a href="/giro/renner/<%=uitslagen.sprint[i]._id%>"><%=uitslagen.sprint[i].naam%></a>
                                                </td>
                                            <td><%=uitslagen.sprint[i].score%></td>
                                        </tr>
                                    <%}%> 
                        </tbody>    
                    </table>
                    <table class="etappetabel mini">    
                        <thead class="topbar">
                            <tr><th></th><th>Combinatie</th><th>Punten</th></tr>    
                        </thead>
                        <tbody>
                            <%for(var i=0;i<Math.min(5,uitslagen.jong.length);i++){%>
                                <tr>
                                    <%if(i==0){%>
                                        <td><img src="/images/wittetrui.png"></td>
                                    <%}else{%>
                                        <td><%=i+1%></td>
                                    <%}%>
                                        <td>
                                            <a href="/giro/renner/<%=uitslagen.jong[i]._id%>"><%=uitslagen.jong[i].naam%></a>
                                        </td>
                                    <td><%=uitslagen.jong[i].tijd%></td>
                                </tr>
                            <%}%> 
                        </tbody>    
                    </table>
                </div>
            </div>
        </div>
<footer class="container-fluid text-center">
    <p></p>
</footer>

<script>
var NUMBER_OF_REQUESTS = 0;
setInterval(function(){ 
    NUMBER_OF_REQUESTS = 0;
}, 100);

function kiesrenner(id,naam,etappe){
    $.ajax({
        beforeSend: function canSendAjaxRequest()
        {
            var can_send = NUMBER_OF_REQUESTS < 5;
            NUMBER_OF_REQUESTS++;
            return can_send;
        },
		type: 'POST',
        data: JSON.stringify({"id":id, "naam":naam, "etappe":etappe, "status": "toevoegen"}),
		contentType: 'application/json',
        url: '/giro/etappes',
        cache: false,
        dataType:"json",
        success: function (res) { //{'id' : req.body.id, 'naam' : req.body.naam, 'etappe' : etappe}
            $("#" + res.id).addClass("rennerselected");
            $("#" + res.id +"button").addClass("selected");
            $("#" + res.id +"button").html("Deselecteer");
            $("#" + res.id +"button").attr("onclick", "verwijderrenner('" + res.id + "','" + res.naam + "'," + res.etappe + ")");
            $("#kopman" + res.id).prop('disabled', false);
            // maak renner opgesteld in klassementen
            $("[href$='" + res.id + "']").removeClass("nietopgesteld");
            $("[href$='" + res.id + "']").addClass("opgesteld");
            sorteerselectie();
            if($(".selected").length==9){
                $(".rennerselectiebutton:not(.selected, .unavailable)").each(function(){
                    $(this).html("Team Vol");
                });
            };
        }
    });
    
}

function verwijderrenner(id,naam,etappe){
    $.ajax({
        beforeSend: function canSendAjaxRequest()
        {
            var can_send = NUMBER_OF_REQUESTS < 1;
            NUMBER_OF_REQUESTS++;
            return can_send;
        },
		type: 'POST',
        data: JSON.stringify({"id": id, "naam": naam, "etappe":etappe, "status": "verwijderen"}),
		contentType: 'application/json',
        url: '/giro/etappes',
        cache: false,
        dataType:"json",
        success: function (res) { //{'id':req.body.id,'naam':req.body.naam,'kopman':kopman,'etappe':req.body.etappe}
            $("#" + res.id).removeClass("rennerselected"); //Unselect de verwijderde renner
            $("#kopman" + res.id).prop('checked', false); //Deselecteer kopmanknop
            $("#kopman" + res.id).prop('disabled', true); //Disable kopmanknop
            //Pas de knop aan
            $("#" + res.id +"button").removeClass("selected");
            $("#" + res.id +"button").html("Selecteer");
            $("#" + res.id +"button").attr("onclick", "kiesrenner('" + res.id + "','" + res.naam + "'," + res.etappe + ")");
            // maak renner niet meer opgesteld in klassementen
            $("[href$='" + res.id + "']").removeClass("opgesteld");
            $("[href$='" + res.id + "']").addClass("nietopgesteld");
            //Sorteer de selectie opnieuw
            sorteerselectie();
            if($(".selected").length<9){
                $(".rennerselectiebutton:not(.selected, .unavailable)").each(function(){
                    $(this).html("Selecteer");
                });
            };
        }					
    });
}

function kieskopman(id,etappe){
    $.ajax({
        beforeSend: function canSendAjaxRequest()
        {
            var can_send = NUMBER_OF_REQUESTS < 1;
            NUMBER_OF_REQUESTS++;
            return can_send;
        },
		type: 'POST',
        data: JSON.stringify({"id": id, "etappe":etappe, "status": "kopman"}),
		contentType: 'application/json',
        url: '/giro/etappes',
        cache: false,
        dataType:"json",
        success: function (opstelling) {}					
    });    
}

function updateuserteam(etappe){

    $.ajax({   
		type: 'POST',
        data: JSON.stringify({"etappe":etappe, "status": "laden"}),
		contentType: 'application/json',
        url: '/giro/etappes',
        cache: false,
        dataType:"json",
        success: function (res) { //{'opstellingen' : user.opstellingen[etappe-1], 'team' : req.user.teamselectie.userrenners, 'etappe' : etappe}
            for(var i=0;i<res.opstellingen.opstelling._id.length;i++){
                var id = res.opstellingen.opstelling._id[i];
                $("#" + id).addClass("rennerselected");
                $("#" + id +"button").addClass("selected");
                $("#" + id +"button").html("Deselecteer");
                $("#" + id +"button").attr("onclick", "verwijderrenner('" + id + "','" + res.opstellingen.opstelling.naam[i] + "'," + res.etappe + ")");
                $("#kopman" + id).prop('disabled', false); //Zorg dat de kopmanknop voor deze renners werkt
                $("[href$='" + id + "']").addClass("opgesteld"); // maak renner opgesteld in klassementen
            }
            $("#kopman" + res.opstellingen.kopman).prop('checked', true); //Check de juiste kopmanknop
            
            if($(".selected").length==9){
                $(".rennerselectiebutton:not(.selected, .unavailable)").each(function(){
                    $(this).html("Team Vol");
                });
            }
            sorteerselectie();
            // for(var i=0;i<teamrenners.length;i++){//niet opgestelde users in selectie
            //     if(!res.opstellingen.opstelling._id.includes(teamrenners._id[i]))
            //         $("[href$='" + teamrenners._id[i] + "']").addClass("nietopgesteld");
            // }
        }			
    });
}
function sorteerselectie() {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("userteamtabel");
  switching = true;
  // Set the sorting direction to descending:
  dir = "asc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 0; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("a")[0];
      y = rows[i + 1].getElementsByTagName("a")[0];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML > y.innerHTML) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML < y.innerHTML) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
        
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "desc") {
        dir = "asc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>