<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <style>
    table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    div#contentblok
    {
        height: 95vh;
    }
    .scrolltabel tbody{
        overflow: auto;
        width: 100%;
    }
    .scrolltabel thead{
        position: relative;
        height: 4vh;
        cursor: pointer;
    }
    th, td {
        text-align: left;
        padding: 16px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }  
    tr:nth-child(odd) {
        background-color: #ffffff
    }  
    </style>
</head>
<body>
    <% include ../partials/navbarlogout %>
        <div class="col-sm-12 text-left" id="contentblok">
            <div class="bovenrijtje">
                <a href="/profile" class="etappebutton">◄ &nbsp; &nbsp; Profiel</a>
                <a href="/giro" style="float:right" class="etappebutton">Naar de giro &nbsp; &nbsp; ►</a>
            </div>
            <table  class="scrolltabel">
                <thead>
                <tr>
                    <th onclick="sortTable(0)" style="width:30%">Renner</th>
                    <th onclick="sortTableInt(1)" style="width:20%">Selecties</th>
                    <th onclick="sortTableInt(2)" style="width:10%">Punten</th>
                    <th onclick="sortTableInt(3)" style="width:15%">Punt per M</th>
                    <th onclick="sortTableInt(4)" style="width:10%">Prijs</th>
                </tr>
                </thead>
            </table>
            <div style="height:78.5vh; overflow:auto;">
                <table id="overzichttabel">
                <tbody>

                <%for(var i=0;i<renners.length;i++){%>
                    <tr>
                    <td style="width:30%"><a href="/giro/renner/<%=renners[i]._id%>"><%=renners[i].naam%></a></td>
                    <%var selecties=0;%>
                    <%var namen="";%>
                    <%var budgetnamen="";%>
                    <%for(var j=0;j<users.length;j++){%>
                        <%for(var k=0;k<users[j].teamselectie.userrenners.length;k++){%>
                            <%if(users[j].teamselectie.userrenners[k].naam==renners[i].naam){%>
                                <%if(users[j].groups.budget){%>
                                    <%selecties++%>
                                    <%budgetnamen=budgetnamen + " " + users[j].local.username.replace("Budget","")%>
                                <%}else{%>
                                    <%selecties++%>
                                    <%namen=namen + " " + users[j].local.username%>
                                <%}%>
                            <%}%>
                        <%}%>
                    <%}%>
                    <td style="width:20%"><%=selecties%><font color="grey"><%=namen%></font><font color="green"><%=budgetnamen%></font></td>
                    <td style="width:10%"><%=renners[i].punten.totaal.reduce((a, b) => a + b, 0)%></td>
                    <td style="width:15%"><%=Math.round(renners[i].punten.totaal.reduce((a, b) => a + b, 0)/(renners[i].prijs/1000000),1)%></td>
                    <td style="width:10%"><%=renners[i].prijs%></td>
                    </tr>
                <%}%>
                </tbody>
                </table>
                </div>
            </table>
        </div>
<footer class="container-fluid text-center">
    <p></p>
</footer>
<script>

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("overzichttabel");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 0; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function sortTableInt(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("overzichttabel");
  switching = true;
  // Set the sorting direction to descending:
  dir = "desc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 0; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
        
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "desc") {
        dir = "asc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>