<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <style>
    table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    div#contentblok
    {
        height: 95vh;
    }
    .scrolltabel tbody{
        overflow: auto;
        width: 100%;
    }
    .scrolltabel thead{
        position: relative;
        height: 4vh;
        cursor: pointer;
    }
    div.rennerNaam{
        font-size: 20pt;
        font-weight: bold;
    }
    table#rennerScores{
        font-size: 16pt;
    }
    th, td {
        text-align: left;
        padding: 16px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }  
    tr:nth-child(odd) {
        background-color: #ffffff
    }  
    </style>
</head>
<body>
    <% include ../partials/navbarlogout %>
        <div class="col-sm-12 text-left" id="contentblok">
            <div class="bovenrijtje">
                <a href="/giro/overzicht" class="etappebutton">◄ &nbsp; &nbsp; Overzicht</a>

                <a href="/giro" style="float:right" class="etappebutton">Naar de giro &nbsp; &nbsp; ►</a>
            </div>
            <div style="height:78.5vh; overflow:auto;">
                    <div class="rennerNaam"><%=renner.naam%></div>
                <table id="rennerScores">
                    <thead>
                            <tr><th>Etappe</th><th>Dag</th><th>Team</th><th><img src="/images/rozetrui.png"></th><th><img src="/images/blauwetrui.png"></th><th><img src="/images/paarsetrui.png"></th><th><img src="/images/wittetrui.png"></th><th>Totaal</th></tr>
                    </thead>
                <tbody>
                        <% for(var i=0; i<currentStage; i++) { %>
                                <tr><td><%=i+1%></td><td><%=renner.punten.dag[i]%></td><td><%=renner.punten.team.totaal[i]%></td><td><%=renner.punten.ak[i]%></td><td><%=renner.punten.sprint[i]%></td><td><%=renner.punten.berg[i]%></td><td><%=renner.punten.jong[i]%></td><td><%=renner.punten.totaal[i]%></td></tr>
                            <% } %>
                            <tr><td>Totaal</td><td><%=eval(renner.punten.dag.join('+'))%></td><td><%=eval(renner.punten.team.totaal.join('+'))%></td><td><%=eval(renner.punten.ak.join('+'))%></td><td><%=eval(renner.punten.sprint.join('+'))%></td><td><%=eval(renner.punten.berg.join('+'))%></td><td><%=eval(renner.punten.jong.join('+'))%></td><td><%=eval(renner.punten.totaal.join('+'))%></td></tr>
                </tbody>
                </table>
                </div>
        </div>
<footer class="container-fluid text-center">
    <p></p>
</footer>
<script>

</script>
</body>
</html>