<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Teamselectie</title>
    <% include ../partials/head %>
    <style>
        .teamselectiedoos {
            height:600px;
            overflow:auto;
            padding:10px;
        }
        thead{
            background: #222;
            color: #ddd;
        }
        th, td {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: left;
        }
        tbody tr td:hover{
            background:#ddd;
        }
    </style>
</head>
<body onload="updateuserteam(<%=userrenners%>)">
    <% include ../partials/navbarlogout %>
    <div class="col-sm-12 text-left" id="contentblok">
        <div class="bovenrijtje">
            <div class="col-sm-6 text-left">
                <a href="/profile" class="etappebutton">◄ &nbsp; &nbsp; Profiel</a>
            </div>
            <div class="col-sm-6 text-right">
                <div id="etappeknopenabler">
                    
                </div>
            </div>
        </div>
        <div class="col-sm-8 userteamdoos" id="userteamdoos">
            <table id="userteamtabel">
                <thead>
                </thead>
                <tbody>
                <%for(i=1; i<21; i+=2){%>
                    <tr>
                        <td id="userselectie<%=i-1%>" onclick="removeRider(<%=i-1%>)"></td>
                        <td id="userselectie<%=i%>" onclick="removeRider(<%=i%>)"></td>
                    </tr>
                <%}%>
                </tbody>
            </table>
            <h1 id="geld">Budget: €<%=bugdetRemaining%></h1>
        </div>
        <div class="col-sm-4 teamselectiedoos">
            <input type="text" id="searchBar" onkeyup="findRider()" placeholder="Zoek een renner, ploeg, of prijs" title="Type in a name">    
            <table id="teamselectionTable">
                <thead>
                    <tr class=teamtabelhead><td>Renner</td><td>Prijs</td></tr>
                </thead>    
                <tbody>
                <% for(var i=0; i<renners.length; i++) { %>
                    <tr id="<%=renners[i].rider_participation_id%>" onclick="addRider('<%=renners[i].rider_participation_id%>')"><td span=2><%=renners[i].name%><br/><span class=ploegrenner><%=renners[i].team%></span></td><td>€<%=renners[i].price%></td></tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
<footer class="container-fluid text-center">
    <p></p>
</footer>
<script>
var NUMBER_OF_REQUESTS = 0;
setInterval(function(){ 
    NUMBER_OF_REQUESTS = 0;
}, 500);
function addRider(id){
    $.ajax({
        beforeSend: function canSendAjaxRequest()
        {
            var can_send = NUMBER_OF_REQUESTS < 1;
            NUMBER_OF_REQUESTS++;
            return can_send;
        },
		type: 'POST',
        data: JSON.stringify({ "id": id, "toevoegen": true}), //renner toevoegen
		contentType: 'application/json',
        url: '/giro/teamselectie',
        cache: false,
        dataType:"json",
        async:false,
        success: function (userrenners) {
            for(i=0;i<userrenners.length;i++){
                $("#" + userrenners[i].rider_participation_id).addClass("rennerselected");
                $("#userselectie" + i).html(userrenners[i].name + "<br/><span class=ploegrenner>" + userrenners[i].team + "</span><br/>" + userrenners[i].price);
            }
            if(userrenners.length>19){
                $("#etappeknopenabler").html('<a href="/giro/etappe1" class="etappebutton">Etappe 1 &nbsp; &nbsp; ►</a>');
            }
            $( "#geld" ).load(window.location.href + " #geld" );
        }		
    });
}

function removeRider(id){
   //if(naam!=null){ //eventueel weer toevoegen maar werkt ook zonder
    $.ajax({
        beforeSend: function canSendAjaxRequest()
        {
            var can_send = NUMBER_OF_REQUESTS < 1;
            NUMBER_OF_REQUESTS++;
            return can_send;
        },
		type: 'POST',
        data: JSON.stringify({"id": id, "toevoegen": false}), //renner verwijderen
		contentType: 'application/json',
        url: '/giro/teamselectie',
        cache: false,
        dataType:"json",
        async:false,
        success: function (userrenners,idverwijderde) {
            for(var i=0;i<userrenners.length;i++){
                $("#" + idverwijderde).removeClass("rennerselected");
                $("#userselectie" + i).html(userrenners[i].name + "<br/><span class=ploegrenner>" + userrenners[i].team + "</span><br/>" + userrenners[i].price);
            }
            for(var i=userrenners.length;i<20;i++){
                $("#userselectie" + i).html("");
            }
            $( "#geld" ).load(window.location.href + " #geld" );
            if(userrenners.length<20){
                $("#etappeknopenabler").html('');
            }
        }			
    });
    //}
}
function updateuserteam(userrenners){
    for(id=0;id<userrenners.length;id++){
        $("#" + userrenners[id].rider_participation_id).addClass("rennerselected");
        $("#userselectie" + id).html(userrenners[id].name + "<br/><span class=ploegrenner>" + userrenners[id].team + "</span><br/>" + userrenners[id].price);
    }
    if(userrenners.length>19){
        $("#etappeknopenabler").html('<a href="/giro/etappe1" class="etappebutton">Etappe 1 &nbsp; &nbsp; ►</a>');
    }
}

function findRider() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("searchBar");
  filter = input.value.toUpperCase();
  table = document.getElementById("teamselectionTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</body>
</html>